body{
    background: linear-gradient(145deg,rgb(206, 152, 206), blue); 
    background-attachment: fixed ;
}
.container{
    display: block;
    justify-content: column;
    align-items : center;
    text-align: center ;
    margin-top: 245px;
    background-color: white;
    width: 450px;
    height : 300px ;
    margin-left:auto ;
    margin-right: auto; 
    border-radius: 10px; 
}
.title{
    padding-top : 20px;
    padding-left : -35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: rgb(109, 108, 108);
}
input[type="text"]{
   margin-top: 15px;
   margin-left: -26px;
   padding: 10px 35px;
   text-align: left;
   font-size: 16px;
   font-weight: bolder;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   color: rgb(80, 78, 78);
   border-radius: 5px;
}
#copy{
    cursor: pointer;
    margin-left: -30px;
    font-size: 20px;
    color: rgb(76, 11, 196);
    transition: color 0.3s ease ;

}
#copy:hover{
    color: rgb(78, 110, 170);
}
.settings{
    margin-top: 10px;
    margin-left: -50px;
}
.Codesize{
   accent-color: rgb(150, 99, 207);
   width: 260px;
   margin-left: 45px;
   cursor: pointer;
}
label{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(107, 105, 105);
    
}
.Generatebtn{
    margin-top: 30px;
    padding: 15px 80px;
    margin-left: -4px;
    border-radius: 5px;
    background-color:rgb(171, 122, 228) ;
    color: white;
    font-size: 16px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none; 
    cursor: pointer;
}.Generatebtn:hover{
    background-color:rgb(124, 35, 224);
    transition : background-color 0.3s ease; 
}
.Generatebtn:active{
    transform: scale(0.98);
    transition : 0.3s ease;
    animation: ripple 0.7s;
}